

/* Your CSS Code here. */
button:Haover{
    background-color:black;
    color:white;
    border-radius: 50px;
    border:none
}
button:hover{
    cursor:pointer;
    background-color:yellow;
    color:black;
    border-radius:300px;
    border:none


}